block footer
    footer#footer.footer
        .container
            .footer__inner
                .footer__inner_top
                    .footer__inner_top-questions
                        h2 Остались вопросы? Приезжайте к нам в офис или оставляйте заявку на сайте
                        .btn Стать партнером
                        .footer__inner_top-questions_working-time Пн-Пт 9:00 -  21:00
                        .footer__inner_top-questions_socials
                            noindex








                .footer__bottom
                    .footer__policy
                        a(href="policy.html").footer__title.link.link--white-opacity Политика конфиденциальности

                    .footer__devs
                        a(href="https://di-project.studio/") Разработка сайта:
                        span  Di-Project.Studio
                    .footer__company
