include _mixins

block header
    header#header.header
        .container
            .header__inner
                a(href='/').header__inner_logo
                    +img('logo.svg')
                .custom_overlay
                .header__inner_menu
                    .header__inner_close-btn#closeBtn
                        +img('close.svg')
                    .header__inner_navbar
                        nav.nav
                            ul.header__inner_navbar-items
                                li.header__inner_navbar-item
                                    a(href='categories.html').hover--underline Каталог
                                li.header__inner_navbar-item
                                    a(href='retail-stores.html').hover--underline Розничные магазины
                                li.header__inner_navbar-item
                                    a(href='faq.html').hover--underline популярные вопросы
                                li.header__inner_navbar-item
                                    a(href='service-center.html').hover--underline сервисный центр
                    .header__inner_call
                        .header__inner_call-text
                            a(href='javascript:void(0)' data-src='#popup-request' data-fancybox) Заказать звонок
                        .header__inner_call-numbers
                            a(href='tel:88005505072') 8(800)550-50-72
                            a(href='tel:79772811720') +7(977)281-17-20
                .header__inner_burger-menu#burgerToggle
                    +img('burger-menu.svg')


