.product-card {
  min-width: 154px;
  display: grid;
  justify-content: space-between;

  &__image {
    width: 100%;
    height: auto;
    border-radius: 14px;
    border: 1px solid $grey;
    background: $white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    @include flexCenterCenter;
    margin-bottom: 6px;
    padding: 24px 0;

    @include breakpoint(md) {
      padding: 36px 0;
    }

    img {
      width: 40%;
      height: 80%;
      object-position: center;
      object-fit: contain;
    }
  }

  &__model-number {
    color: $grey;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 2px;
  }

  &__name {
    @include textLimit(2);
    line-height: 150%; /* 24px */
    max-height: 48px;
    margin-bottom: 4px;
  }
}