.products {
  padding-bottom: 96px;



  h1 {
    margin-top: 84px;
    margin-bottom: 20px;

    @include breakpoint(md) {
      margin-top: 95px;
    }
  }

  &__top {
    @include flexCenterBetween;
    width: 100%;
    max-width: 342px;
    position: absolute;
    top: -55px;
    background: $white;
    border-radius: 6px 6px 0 0;
    padding: 6px 9px 0;
    z-index: 0;
    isolation: isolate;

    @include breakpoint(md) {
      padding-top: 30px;
      padding-left: 12px;
      top: -94px;
      background: transparent;
      max-width: 100%;
    }

    @include breakpoint(lg) {
      position: relative;
      top: unset;
    }


    &_button {
      @include flexAlignCenter;
      gap: 14px;

      &_image {
        width: 24px;
        height: 24px;
      }
    }

    &_arrow {
      @include breakpoint(md) {
        display: none;
      }
    }


  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 154px);
    grid-auto-rows: 258px;
    gap: 20px;
    justify-content: center;

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 222px);
      grid-auto-rows: 340px;
    }
  }

  &__pagination {
    @include flexCenterCenter;
    gap: 8px;
    margin-top: 34px;

    &_item {
      padding: 2px 12px;
      @include flexCenterCenter;
      cursor: pointer;
      transition: .3s ease;

      &:hover {
        color: $prime;
      }

      &.active {
        color: $prime;
        position: relative;

        &:after {
          content: '';
          background: $prime;
          width: 2px;
          height: 36px;
          transform: rotate(-90deg);
          position: absolute;
          left: 14px;
          bottom: -24px;
        }
      }
    }

    &_arrow-prev, &_arrow-next {
      cursor: pointer;
    }
  }

  &__categories {
    position: absolute;
    top: -25px;
    z-index: 3;
    display: none;
    background: $white;
    padding: 0 6px 24px;
    border-radius: 0 0 6px 6px;
    isolation: isolate;
    overflow-y: auto;
    max-height: 700px;
    width: 100%;
    max-width: 342px;


    @include breakpoint(md) {
      top: -22px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      background: #E5EAFC;
      border-radius: 10px;
      max-width: calc(50% + 22px);
      //max-width: 100%;
    }
  }

  &__category {
    padding: 12px 16px;
    width: 100%;
    background: $white;
    max-width: 338px;

    @include breakpoint(md) {
      //max-width: calc(50% + 22px);
      max-width: 100%;
      &:first-child {
        padding-top: 36px;
        border-top-left-radius: 10px;
      }

      &:last-child {
        padding-bottom: 36px;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-white-65;
    }


    &_inner {
      @include flexCenterBetween;

      svg {
        @include breakpoint(md) {
          transform: rotate(-90deg);
        }
      }
    }

    &.active {

      @include breakpoint(md) {
        &::before {
          content: '';
          width: 2px;
          height: 42px;
          background: $prime;
          display: inline-block;
          position: absolute;
          left: -22px;
          top: 0;
        }
      }

      .products__subcategories {
        display: grid;
        padding-top: 26px;
        gap: 26px;
        padding-left: 14px;

        @include breakpoint(md) {
          position: absolute;
          gap: 4px;
          top: 0;
          left: 50%;
          padding-top: 12px;
          padding-left: 32px;
          width: calc(50% - 22px);
        }

        .products__subcategory {
          @include breakpoint(md) {
            padding: 12px 16px;
            white-space: nowrap;
            background: $white;
            width: 100%;
            border-radius: 4px;
          }
        }
      }

      .products__category_inner {
        p {
          color: $prime;
        }

        svg {
          transform: rotate(180deg);

          @include breakpoint(md) {
            transform: rotate(-270deg);
          }

          path {
            stroke: $prime;
          }
        }
      }
    }
  }

  &__subcategories {
    display: none;

    @include breakpoint(md) {

    }
  }
}

.close-button {
  //display: flex;
  width: 26px;
  height: 26px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: $prime;
  display: none;

  img {
    width: 10px;
    height: 10px;
  }
}

.products__inner {
  position: relative;

  &.active {

    .products__top {
      z-index: 3;
    }

    .products__top_arrow {
      transform: rotate(180deg);
    }

    .products__categories {
      display: grid;
    }

    @include breakpoint(md) {
      .close-button {
        display: flex;
        position: absolute;
        top: -41px;
        right: 1px;
      }
    }

  }
}



