.products {
  padding-top: 37px;
  padding-bottom: 96px;

  h1 {
    margin-bottom: 20px;

    @include breakpoint(md) {

    }
  }

  &__inner {

  }

  .products__wrapper {
    margin-top: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.catalog__button {
  @include flexCenterBetween;

  &.active {
    .button__arrow {
      transform: rotate(180deg);
    }
  }
}

.button__main {
  @include flexAlignCenter;
  gap: 14px;
}

.button__arrow {
  @include breakpoint(md) {
    display: none;
  }
}

.catalog__wrapper-js {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $gray-white-65;
  backdrop-filter: blur(7.5px);
  width: 100vw;
  height: 120vh;
  z-index: 3;
  isolation: isolate;
  display: none;
  padding: 139px 16px;

  &.active {
    display: block;
  }

  .catalog__wrapper {
    background: $white;
    padding: 6px;
    border-radius: 6px;
  }

  .catalog__menu-wrapper {
    display: block;

    .catalog__menu {
      .menu__category {
        padding: 12px 6px;
      }
    }
  }
}


.catalog__menu-wrapper {
  display: none;
}


.menu__category {
  .category__wrapper {
    @include flexCenterBetween;

    .category__name {

    }

    .category__arrow {

    }
  }

  .subcategories__wrapper {

  }

}






