.products {
  padding-top: 37px;
  padding-bottom: 96px;

  h1 {
    margin-bottom: 20px;

    @include breakpoint(md) {

    }
  }

  &__inner {

  }
  .navbar__close {
    display: none;

    @include breakpoint(md) {
      width: 26px;
      height: 26px;
      padding: 7px;
      border-radius: 6px;
      position: absolute;
      z-index: 4;
      background: $prime;
      isolation: isolate;
      top: 0;
      right: 50%;
      transition: .2s ease;

      &.active {
        @include flexCenterCenter;
      }
    }
  }


  .products__wrapper {
    margin-top: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.navbar__overlay {
  opacity: 0;
  transition: .6s ease;

  &.active {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gray-white-65;
    backdrop-filter: blur(7.5px);
    width: 100%;
    height: 100%;
    z-index: 3;
    isolation: isolate;
    display: block;
    overflow: hidden;
    opacity: 1;
  }
}

.navbar__wrapper {
  border-radius: 6px;
  background: $white;
  transition: .6s ease;
  padding: 6px;
  overflow: auto;
  position: relative;
  top: 0;

  &.active {
    position: absolute;
    z-index: 3;
    width: calc(100vw - var(--container) * 2);
    max-width: 350px;
    height: 70vh;
    top: 20px;
    @include breakpoint(md) {
      width: calc(100vw - var(--container) * 2);
      bottom: calc(100vh - 220px);
      background: transparent;
      padding: 0;
      max-width: 100%;
      height: fit-content;
    }
  }



  .navbar__button {
    @include flexCenterBetween;
    margin-bottom: 6px;

    &.active {
      .button__main {
        @include flexAlignCenter;
        gap: 14px;
      }

      .button__arrow {
        transform: rotate(180deg);

      }
    }

    @include breakpoint(md) {
      background: $white;
      width: 50%;
      padding: 6px;
      margin-bottom: 0;
      border-radius: 10px 0 0 0;
    }

    .button__main {
      @include flexAlignCenter;
      gap: 14px;
    }

    .button__arrow {
      @include breakpoint(md) {
        display: none;
      }
    }


  }

  .navbar__menu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .6s ease;
    background: $white;

    &.active {
      height: fit-content;
      opacity: 1;

      @include breakpoint(md) {
        width: 50%;
        border-radius: 0 0 0 10px;
      }
    }

    .menu__item {
      padding: 12px 6px;
      border-bottom: 1px solid $gray-white-65;
      font-size: 14px;

      @include breakpoint(md) {
        padding: 12px;
      }

      .menu__item-top {
        @include flexCenterBetween;

        svg {
          @include breakpoint(md) {
            transform: rotate(270deg);
          }
        }

        &.active {
          color: $prime;

          svg {
            transform: rotate(180deg);

            @include breakpoint(md) {
              transform: rotate(90deg);
            }

            path {
              stroke: $prime;
            }
          }
        }
      }

      .dropdown-menu {
        display: grid;
        gap: 2px;
        cursor: pointer;
        height: 0;
        transition: all 0.6s;
        overflow: hidden;

        @include breakpoint(md) {
          gap: 6px;
        }

        li {
          padding: 12px 16px;

          a {

          }
        }
      }
    }
  }
}

.dropdown-menu-js {
  position: absolute;
  background: #E5EAFC;
  border-radius: 0 10px 10px 0;
  width: 0;
  //width: calc(50vw - var(--container));
  //bottom: calc(100vh - 600px);
  z-index: 3;
  left: 50%;
  top: 0;
  height: 100%;
  //display: none;
  transition: .2s ease;
  display: none;
  padding-top: 10px;

  @include breakpoint(md) {
    display: block;
  }

  &.active {
    width: calc(50vw - var(--container));
  }

  .dropdown-menu {
    display: grid;
    gap: 4px;
    margin: 0 10px;

    .dropdown-item {
      padding: 12px 16px;
      background: $white;
      border-radius: 4px;
    }
  }
}
