include ../includes/_mixins

.faq__item
    .faq__item_top
        .faq__item_top_title Как осуществляется оплата?
        .faq__item_top_close
            +img('faq_close.svg')
    .faq__item_text Заказ нужно оплатить в течение 30 минут после оформления. На почте — наличными. У курьера — наличными или картой. В пунктах выдачи и постаматах — наличными или картой.