include ../includes/_mixins

.product-card
    .product-card__image
        +img('pages/product/1.jpg')
    .product-card__model-number Арт. SSWW W0913H
    .product-card__name Душевая кабина W0913H - JG 3000 PHA
    a(href='product.html').product-card__button.btn.btn--transparent Подробнее



