.retail-item
    .retail-item__town Москва
    .retail-item__address ул. Крылатские холмы д. 14 строение 16 офис 134
    a(href='tel:74957485605').retail-item__number.hover--color-prime +7(495) 748-56-05
    a(href='mailto:SSWW-MSC@MAIL.RU').retail-item__mail.hover--color-prime SSWW-MSC@MAIL.RU