.header {
  padding-top: 12px;
  padding-bottom: 12px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: $white-80;
  transition: transform 0.3s ease;
  isolation: isolate;

  &__inner {
    @include flexCenterBetween;

    &_menu {
      transition: .6s ease;
      isolation: isolate;

      @include breakpoint(lg) {
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        gap: 23px;
        align-items: center;
      }

      @include breakpoint(xl) {
        gap: 109px;
      }

    }

    &_close-btn {
      display: none;
      cursor: pointer;
    }

    &_logo {
      width: 117px;
      height: auto;
    }

    &_navbar {
      display: none;
      @include breakpoint(lg) {
        display: block;
      }
    }

    &_call {
      display: none;

      @include breakpoint(lg) {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        gap: 21px;
      }

      @include breakpoint(hd) {
        gap: 48px;
      }


      &-numbers {
        display: grid;
        grid-auto-flow: row;
        justify-items: flex-end;
        gap: 6px;
        color: $black;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;

        @include breakpoint(xl) {
          font-size: 20px;
        }
      }
    }


    &_burger-menu {
      width: 24px;
      height: 24px;

      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}

.header__inner_navbar-items {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: 30px;

  @include breakpoint(xl) {
    gap: 50px;
  }
}

.header__inner_navbar-item {
  a {
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    position: relative;
    text-wrap: nowrap;

    @include breakpoint(hd) {
      font-size: 16px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      background-color: $black;
      height: 1px;
      bottom: -4px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

////////////////////////////////////////////////////////////
////////////////////////NAVBAR//////////////////////////////
////////////////////////////////////////////////////////////

.header__inner_menu.active {
  background: $white;
  position: absolute;
  padding: 12px;
  width: 360px;
  left: calc(50% - 180px);
  display: grid;
  gap: 24px;
  transform: translateY(calc(40% + 152px));
  z-index: 4;
  isolation: isolate;


  @include breakpointCustom(361px) {
    border-radius: 10px;
  }

  .header__inner_close-btn {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .header__inner_navbar {
    display: block;


    &-items {
      grid-auto-flow: row;
      margin-top: 50px;
      gap: 24px;
      justify-items: center;
    }

    &-item {
      a {
        font-size: 16px;
      }
    }
  }

  .header__inner_call {
    display: grid;
    gap: 24px;
    justify-items: center;

    &-text {
      color: $black;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-transform: uppercase;


      &::before {
        background: $black;
      }

    }

    &-numbers {
      gap: 24px;
      justify-items: center;
      color: $prime;
      font-style: normal;
      font-weight: 500;

      a {
        line-height: 150%;
      }
    }
  }
}

