---
title: 'Страница | Категории раздела'
bodyClass: categories-page
---

extends includes/_page
include components/_breadcrumbs
include components/_catalog-card-item

block main
    +breadcrumbs('', 'Категории раздела')
    section.categories
        .container
            .categories__inner
                h1 Категории раздела
                .catalog__card-items
                    -
                        var cardItems = [
                            {name: 'Смесители'},
                            {name: 'Душевые кабины'},
                            {name: 'Душевые панели'},
                            {name: 'Ванны'},
                            {name: 'Мебель'},
                            {name: 'Санфаянс'},
                            {name: 'Финские сауны'},
                            {name: 'Душевые ограждения'},
                            {name: 'Душевые стойки'},
                            {name: 'Запорная арматура'},
                            {name: 'Аксессуары для ванны'},
                            {name: 'Запчасти'},
                        ]
                    each cardItem, index in cardItems
                        +catalogCardItem(index, cardItem.name)
                h2 СЕО текст
                p Компания SSWW  — это китайский производитель сантехнических изделий, который специализируется на разработке и производстве различных сантехнических решений, включая смесители, душевые системы, унитазы и другие аксессуары для ванных комнат и кухонь. SSWW известна своим акцентом на качество, инновации и современный дизайн, а также использует передовые технологии в производственном процессе. Компания активно экспортирует свою продукцию на международные рынки и стремится удовлетворить потребности клиентов, предлагая широкий ассортимент товаров.
                a(href='javascript:void(0)').link подробнее
