---
title: 'Страница | Главная'
bodyClass: main-page
//yandexMap: true
---

extends includes/_page

block main
    section.main
        .container
            .main__inner
                .main__inner_hero
                    h1.main__inner_hero-title САнтехника SSWW — искусство роскоши в каждой детали
                    .main__inner_hero-subtitle Предоставляем к продаже сантехнику премиум сегмента от китайского производителя SSWW, оптом и в розницу на самых выгодных условиях.
                    .main__inner_hero-buttons
                        a(href='javascript:void(0)').btn Стать партнером
                        a(href='javascript:void(0)').btn.btn--transparent скачать каталог
                .main__inner-image
                    +img('pages/main/main.jpg')

                .main__inner_about
                    h2.main__inner_about-title О компании
                    .main__inner_about-items
                        .main__inner_about-item
                            .item-block
                                .item-block__title 11 лет
                                .item-block__description На российском рынке
                            .item-block
                                .item-block__title 1000+
                                .item-block__description Довольных покупателей
                            .item-block
                                .item-block__title 95%
                                .item-block__description Положительных отзывов
                            .item-block
                                .item-block__title 20
                                .item-block__description Розничных магазинов, партнеров
                        .main__inner_about-item
                            +img('pages/main/about-1.jpg')
                        .main__inner_about-item
                            .item-title Дизайн и техноголии
                            .item-description Продукция SSWW совмещает в себе приятный минималистичный дизайн и современные технологические решения, заботясь о наших клиентах. Все изделия выполнены из высококачественных материалов, которые прослужат вам долгие года.
                        .main__inner_about-item
                            .item-title Высокотехнологичное производство
                            .item-description Роботизированное производство, минимизирующее брак. Каждое изделие проходит 3 этапа контроля качества. Компания имеет множество сертификатов контроля качества.
                    .main__inner_about-history
                        .history__slider.swiper
                            .slider-arrows
                                .slider-arrow--next
                                    include ./assets/images/arrows/arrow-next.svg
                                .slider-arrow--prev
                                    include ./assets/images/arrows/arrow-prev.svg
                            .swiper-wrapper

                                .swiper-slide
                                    .slide-image
                                        +img('pages/main/about-2.jpg')
                                    .slide-text База производства ванн и паровых кабин
                                .swiper-slide
                                    .slide-image
                                        +img('pages/main/about-2.jpg')
                                    .slide-text TEST1
                                .swiper-slide
                                    .slide-image
                                        +img('pages/main/about-2.jpg')
                                    .slide-text TEST2
                        .history__text
                            .history__text_title История бренда
                            .history__text_block
                                p Основание:
                                p История бренда SSWW берет свое начало в провинциальном местечке Дортмунд в Западной Германии, где в 1994 г. было запущено первое предприятие по производству классической мебели. На сегодняшний день в г. Дортмунд находится европейский офис и шоурум бренда SSWW.
                            .history__text_block
                                p Развитие компании:
                                p Дальнейшее успешное развитие компании потребовало существенного расширения и переноса производства, в результате чего были запущены еще 3 специализированные фабрики общей площадью более 330000 кв.м на территории крупнейшего высокотехнологического производственного парка сантехнических компаний в г. Фошань на юге Китая.
