---
title: 'Страница | Душевые кабины'
bodyClass: products-page
---

extends includes/_page
include components/_breadcrumbs

block main
    +breadcrumbs('', 'Каталог', 'Душевые кабины')
    section.products
        .container
            .products__inner
                .catalog__wrapper-js
                .catalog__wrapper
                    .catalog__button
                        .button__main
                            .button__image
                                +img('catalog-button.svg')
                            .button__text Каталог товаров
                        .button__arrow
                            +img('arrow-down.svg')
                    .catalog__menu-wrapper
                        .catalog__menu
                            .menu__category
                                .category__wrapper
                                    .category__name Душевые кабины
                                    .category__arrow
                                        include ./assets/images/arrow-down.svg
                                .subcategories__wrapper
                                    .subcategory__name Душевые кабины с паром
                                    .subcategory__name Душевые кабины без пара
                            .menu__category
                                .category__wrapper
                                    .category__name Душевые кабины
                                    .category__arrow
                                        include ./assets/images/arrow-down.svg
                                .subcategories__wrapper
                                    .subcategory__name Душевые кабины с паром
                                    .subcategory__name Душевые кабины без пара
                            .menu__category
                                .category__wrapper
                                    .category__name Душевые кабины
                                    .category__arrow
                                        include ./assets/images/arrow-down.svg
                                .subcategories__wrapper
                                    .subcategory__name Душевые кабины с паром
                                    .subcategory__name Душевые кабины без пара
                .products__wrapper
                    h1 Душевые кабины
                    .products__grid
                        include components/_product-card
                        include components/_product-card
                        include components/_product-card
                        include components/_product-card
                        include components/_product-card
                        include components/_product-card





