---
title: 'Страница | Душевые кабины'
bodyClass: products-page
---

extends includes/_page
include components/_breadcrumbs

block main
    +breadcrumbs('', 'Каталог', 'Душевые кабины')
    section.products
        .container
            .products__inner
                .navbar__overlay
                .navbar__wrapper
                    .navbar__button#navbarButton
                        .button__main
                            .button__main-image
                                +img('catalog-button.svg')
                            .button__main-text Каталог товаров
                        .button__arrow
                            +img('arrow-down.svg')
                    ul.navbar__menu
                        li.menu__item.trig
                            .menu__item-top
                                p Душевые кабины
                                include ./assets/images/arrow-down.svg
                            ul.dropdown-menu
                                li.dropdown-item
                                    a(href='javascript:void(0)') Душевые кабины с паром
                                li.dropdown-item
                                    a(href='javascript:void(0)') Душевые кабины без пара
                        li.menu__item.trig
                            .menu__item-top
                                p Душевые ограждения
                                include ./assets/images/arrow-down.svg
                            ul.dropdown-menu
                                li.dropdown-item
                                    a(href='javascript:void(0)') Душевые ограждения
                                li.dropdown-item
                                    a(href='javascript:void(0)') Двери в нишу
                .products__wrapper
                    h1 Душевые кабины
                    .products__grid
                        include components/_product-card
                        include components/_product-card
                        include components/_product-card
                        include components/_product-card
                        include components/_product-card
                        include components/_product-card





